<header class="navbar navbar-fixed-top red">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Access :: Sign", root_path, id: "logo" %>
      <nav>
        <ul class="nav nav-pills red pull-right">
          <li class="non-active"><%= link_to "Home", root_path %></li>
          <li class="non-active"><%= link_to "Contact", contact_path %></li>
          <li class="non-active"><%= link_to "FAQ",    faq_path %></li>
          <li class="non-active"><%= link_to "Pricing",    pricing_path %></li>
          <li class="non-active"><%= link_to "Help",    help_path %></li>
          <li class="non-active"><%= link_to "Sign in", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>


